@charset "ISO-8859-1";

.tables {
	margin: 0px auto;
	width: 75%;
}

.welcome {
	width:75%;
	margin-left: 150px;
}

.welcome, .log {
	display: inline-block;
}

.log {
	float:right;
}

.event{
	margin: 0px auto;
	width: 75%
}

.create {
	margin-top: 75px;
	
}

form {
	margin-top: 30px;
}