@charset "ISO-8859-1";

.register, .login {
	width: 45%;
	display: inline-block;
	margin-top: 20px;	
	margin-left: 50px;
}

#wrapper {
	margin: 0px auto;	
}

form {
	
	margin: 0px auto;	
}

.login {
	vertical-align: top;
}
