<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Playground</title>
    <style>
      * {
        /* text-align: center; */
        font-family: "Comic Sans MS", cursive, sans-serif;
      }
      h1 {
        margin-left: 40px;
      }
      div {
        margin: 10px;
        display: inline-block;
        /* background-color: #9fc5f8; */
        border: 3px solid black;
        width: 14%;
        height: 250px;
      }
    </style>
  </head>

  <body>
    <h1>Welcome!</h1>
    {% for i in range(0, box): %}
      <div class="box" style='background-color: {{ box_color }}'></div>

    {% endfor %}

  </body>
</html>
'
