<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<style media="screen">
  .btn-danger {
    margin-left: 15px;
  }
  form {
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
  }

</style>


<div id="wrapper">
  <div *ngFor="let error of errors" class="alert alert-danger" role="alert">{{error}}</div>

  <!-- {{ edit | json }} -->

  <form (submit)="editProduct(edit)">
    <h2>Edit your Product</h2>
    <div class="form-group">
      <label for="exampleInputName">Title:</label>
      <input type="text" class="form-control" [(ngModel)]="edit.title" placeholder="" name="edit.title">
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="text" class="form-control"[(ngModel)]="edit.price"  placeholder="" name="edit.price">
    </div>

    <div class="form-group">
      <label for="image">Image:</label>
      <input type="text" class="form-control" [(ngModel)]="edit.image" placeholder="" name="edit.image">
    </div>

    <input type="submit" class="btn btn-primary" value="Update">
    <button (click)="deleteProduct(product._id)" class="btn btn-danger">Delete</button>
  </form>
</div>
