<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type ='text/javascript' src="/socket.io/socket.io.js"></script>
    <meta charset="utf-8">
    <title>Great Button Game</title>
    <script type="text/javascript">
      $(document).ready(function (){
          var socket = io.connect();
          $('.btn').click(function (){
              socket.emit("button_click")
          });
         	$('#reset').click(function (){
              socket.emit("reset")
          });
          socket.on('update_count', function(data){
              $("#count").html(data.count);
         	});
      });
	  </script>

    <style media="screen">
      #wrapper {
        margin: 0 auto;
        text-align: center;
      }
      h1 {
        margin-top: 80px;
      }
      p {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <h1>The button has been pushed <span id="count">0</span> time(s)</h1>
      <p>Push the Button to update the count!</p>
      <button type="button" class="btn btn-primary" name="button">Push the Epic Button</button>
      <button class="btn btn-danger" style="vertical-align: bottom; float: right;" id="reset">Reset count</button>
    </div>

  </body>
</html>
