<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="./images/cat1.jpg" alt="">
    <img src="./images/cat2.jpg" alt="">
    <img src="./images/cat3.jpg" alt="">
    <img src="./images/cat4.jpg" alt="">
    <img src="./images/cat5.jpg" alt="">
    <img src="./images/cat6.jpg" alt="">
  </body>
</html>
