* {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 0 auto;
  width: 970px;
}

body{
  /* margin: 0px auto; */
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle, #6f5964, #6f5964, #1b0b0f);
}


/* Head of the page */
h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
  float: right;
  margin: 10px 15px 0px 0px;
}

h1, h2 {
  display: inline-block;
}

.header {
  background-color: #f2f2f2;
  padding: 15px;
}

.about-Me, .jayne {
  display: inline-block;
  margin: 15px 0px;
  margin-left: 10px;
}

.about-Me {
  background-color: #dacbd9;
  width: 52.58%;
  vertical-align: top;

}

.intro {
  padding: 15.3px;
}



/* Body information contents */

#bio-pics {
  width: 100%;
}

h3 {
  background: linear-gradient(#b3b3b7, #888794, #b3b3b7);
  padding: 10px;
  color: white;
}

 #group1, #group2, #group3 {
  background-color: #dacbd9;
  display: inline-block;
  width: 31.99%;
  margin-bottom: 20px;
}

#group2 {
  margin: 0px 15px;
}

.summary {
  padding: 10px;
}

.info {
  height: 450px;
}


/* the button input tage */
input {
  display: block;
  background-color: #407d61;
  color: white;
  padding: 6px;
  border: 1px solid gray;
  box-shadow: 2px 2px gray;
  border-radius: 10px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 10px;
}

.languages {
  margin-top: 15px;
}

.languages, .languages2 {
  position: relative;
  margin-left: 5px;
}


.languages2 {
  padding-top: 10px;
  padding-bottom: 20px;
}



/* Group the img Tags */
.jayne {
  width: 45%;
  border: 5px solid #c0c0c0;
  margin-left: 0px;
}

.bio-pics {
  width: 200px;
  height: 100px;
}

.logo {
  width: 15%;
  padding-left: 8px;
  text-align: center;
}



/* The footer section */

#footer {
  background-color: #f6f6f6;
  padding: 20px;

}

.doe{
  text-align: center;padding-bottom: 15px;
}

.social {
  margin: 0 auto;
  text-align: center;

}

.links, .icon {
  color: black;
  font-style: italic;
  display: inline-block;
  margin: 0px auto;
  vertical-align: middle;
}


.icon {
  width: 20px;
  height: 20px;
}
