* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 650px;
  padding: 20px;
  margin: 0px auto;
  background-color: #d5d2ae;
}

/* The top img class (2 pictures) of the images and h1 tags */
#head {
  height: 50px;
  width: 100px;
  background-color: white;
}

/* Calling the div cats to align along the wrapper */
#cats {
  text-align: center;
}

/* Define the size of the image of cats */
#meow, #meow2 {
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 3px solid black;
}

#meow {
  background-color: #82b4ee;
}

#meow2 {
  background-color: #f36870;
}

.header {
  text-align: center;
}

h1 {
  display: inline-block;
}
