body {
  font-family: arial;
}

@media only screen and (max-width :480px) {
  #current {
    background-color: #ffff9a;
    padding: 10px;
  }
}

@media only screen and (min-width :481px) {
  #current {
    background-color: #ffff66;
    padding: 10px;
  }
}

@media only screen and (min-width :1024px) {
  #current {
    background-color: #ffff1a;
    padding: 10px;
  }
}

header {
  background-color: gray;
  padding: 1px;
}

.bio {
  background-color: lightgrey;
  padding: 10px;
}
