<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type ='text/javascript' src="/socket.io/socket.io.js"></script>
    <title>Real Time Color</title>
    <style media="screen">
      #button-nav {
        margin-top: 150px;
        text-align: center;
      }
      .btn {
        width: 10%;
        height: 50px;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function() {

        var socket = io.connect();
        $('.btn').click(function(event) {
          event.preventDefault();
          socket.emit("button_click", {
            button: $(this).val(),
          });
          socket.on('update_background', function(data) {
            $("body").css("background-color", data.button)
          })
        });
      });
    </script>

  </head>

  <body>

    <div id="button-nav">
      <button type="button" class="btn btn-secondary" value="green" name="button">Green</button>
      <button type="button" class="btn btn-secondary" value="blue" name="button">Blue</button>
      <button type="button" class="btn btn-secondary" value="pink" name="button">Pink</button>
    </div>
  </body>
</html>
