<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <title>Dojo Survey</title>

    <style media="screen">
      * {
        margin: 0 auto;
        padding-top: 20px;
      }
      #container {
        width:60%;
        padding: 0px;
        box-shadow:8px 8px #b7cde5;
        border: 3px solid #b7cde5;
        border-radius: 15px;
      }
      .col-sm-2 {
        padding-left: 0px;

      }
      .form-group1{
        text-align: right;
        padding-bottom: 35px;
      }

      h1 {
        color: #495057;
      }
      .btn {
        padding: 8px 35px;
      }

      #exampleFormControlTextarea3 {
        width: 82%;
        text-align: left;
      }

    </style>
  </head>
  <body>
    <div id="container">


      <form action="/process" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <h1>Dojo Survey</h1>
          <div class="col-sm-10">

            <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
            <input type="name" name="first" class="form-control" id="inputEmail3" placeholder="Name">
          </div>

          <div class="form-group col-md-4">
            <label for="location">Dojo Location</label>
            <select id="inputState" name="location" class="form-control">
              <option>San Jose</option>
              <option>Burbank</option>
              <option>Seattle</option>
              <option>Chicacgo</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="inputState">Favorite Language</label>
            <select id="inputState" name="language" class="form-control">
              <option>Python</option>
              <option>Java</option>
              <option>Ruby</option>
              <option>C++</option>
            </select>
          </div>
        </div>

        <div class="form-group" id="exampleFormControlTextarea3">
          <label for="exampleFormControlTextarea3" >Comment</label>
          <textarea class="form-control" name="comment"  rows="7"></textarea>
        </div>

        <div class="form-group1 row sm-101">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Button</button>
          </div>
        </div>
      </form>

    </div> <!-- End of Container Div -->

  </body>
</html>
