<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <title>Registration Form</title>

    <style media="screen">
      * {
        margin: 0 auto;
        padding: 5px;
      }
      #container {
        width:60%;
        padding: 0px;
      }

    </style>
  </head>
  <body>

    <div id="container">

      <form class="form-signin" action="/process" method="post">
          <h1 class="h3 mb-3 font-weight-normal">Registration Form</h1>
          {{ request.form['fname']}}

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <p style="color: red"> {{ message }}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}

        <div class="text-center mb-4">
          <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <p>Join millions on this potential platform to meet new people in your area.</p>
        </div>

        <div class="form-label-group">
          <label for="inputName">First Name</label>
          <input id="inputName" name="fname" class="form-control flname" placeholder="First Name" autofocus="" type="text">
        </div>

        <div class="form-label-group">
          <label for="inputName">Last Name</label>
          <input id="inputName" name="lname" class="form-control flname " placeholder="Last Name" autofocus="" type="text">
        </div>

        <div class="form-label-group">
          <label>Date of Birth</label>
          <input class="form-control" id="exampleInputDOB1" placeholder="Date of Birth" type="date">
        </div>

        <div class="form-label-group">
          <label for="inputEmail">Email address</label>
          <input id="inputEmail" name="email" class="form-control" placeholder="Email address" autofocus="" type="text">
        </div>

        <div class="form-label-group">
          <label for="inputPassword">Password</label>
          <input id="inputPassword" name="password" class="form-control" placeholder="Password" type="password">
        </div>

        <div class="form-label-group">
          <label for="inputPassword">Confirm Password</label>
          <input id="inputPassword" name="c_password" class="form-control" placeholder="Confirm password" type="password">
        </div>

        <div class="checkbox mb-3">
          <label>
            <input value="remember-me" type="checkbox"> Remember me</label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
      </form>

    </div> <!-- End of Container Div -->

  </body>
</html>
