<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Semi-Restful</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <body>


    <h1>Users</h1>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Created At</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for users in User %}
        <tr>
          <th scope="row">{{ users.id }}</th>
          <td>{{ users.first_name }} {{ users.last_name }}</td>
          <td>{{ users.email }}</td>
          <td>{{ users.created_at }}</td>
          <td><a href="/users/{{users.id}}">Show</a> <a href=/users/{{users.id}}/edit>Edit</a> <a href=/users/{{users.id}}/destroy>Delete</a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <form class="" action="/users/new" method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" value="Add a New User">
    </form>

  </div>

</body>
</html>
