<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Semi-Restful</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>

  <style>
    .contain {
      margin: 10px;

    }
    form {
      width: 40%;
    }
  </style>

  <body>

    <div class="contain">

      <h1>Add a New User</h1>

      <form action="/users/create" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputAddress">First Name:</label>
          <input type="text" class="form-control" name="first_name" id="inputAddress">
        </div>

        <div class="form-group">
          <label for="inputAddress">Last Name:</label>
          <input type="text" class="form-control" name="last_name"  id="inputAddress">
        </div>

        <div class="form-group">
          <label for="inputAddress2">Email</label>
          <input type="text" class="form-control" name="email" id="inputAddress2">
        </div>

        <input type="submit" class="btn btn-primary" value="Create">
      </form>
    </div>

  </body>
</html>
