<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>

  <style media="screen">
    * {
      margin: 0 auto;
    }

    #wrapper {
      margin: 15px;
      text-align: center;
    }

    form {
      display: inline-block;
      margin-left: 15px;
    }

  </style>
  <body>

    <div id="wrapper">
      <h2>Are you sure you want to delete the following course?</h2>

      <p>Name: {{ course.name }}</p>
      <p>Description: {{ course.desc }}</p>

      <form class="" action="/" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-secondary" value="No">
      </form>
      <form class="" action="/delete/{{course.id}}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Yes! I want to delete this">
      </form>

    </div>

  </body>
</html>
