<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>

  <style media="screen">
    * {
      /* text-align: center */
    }
    #wrapper {
      margin: 15px;
      width: 50%;
    }
    .btn {
      width: 15%;
      float: right;
      margin-bottom: 20px;
    }

  </style>
  <body>

    <div id="wrapper">
      <h2>Add a New Course</h2>
      <form action="/add" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputAddress">Name:</label>
          <input type="text" class="form-control" name="name" id="inputAddress">
        </div>

        <div class="form-group">
          <label for="inputAddress">Description:</label>
          <textarea class="form-control" name="describe" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

          <input type="submit" class="btn btn-success" value="Add">
      </form>

      <h2>Courses</h2>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date Added</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>

          {% for course_name in Course %}
          <tr>
            <th scope="row">{{ course_name.name }}</th>
            <td>{{ course_name.desc }}</td>
            <td>{{ course_name.created_at }}</td>
            <td><a href="/destroy/{{course_name.id}}">Remove</a></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

  </body>
</html>
