<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Basic Mongoose</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
  </head>

  <body>
    <div id="wrapper">

      <!-- tip to easily see objects printed in full instead of [object Object] -->
      <%- JSON.stringify(messages) %>
      <!-- based on the structure of your messages, determine how to display them -->
      <% if(messages.registration) { %>
           <% for (var x of messages.registration) { %>
            <h3><%= x %></h3>
           <% } %>
       <% } %>

      <form action="/users" method="post">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" name="first_name" id="exampleInputName1">
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="exampleInputName2">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" name="age" id="exampleInputAge">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" name="email" id="exampleInputName1">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div> <!-- End of wrapper -->

  </body>

</html>
