<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>The Wall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style media="screen">
      #wrapper {
        margin: 0 auto;
        margin-top: 30px;
        width: 70%;
      }
      .btn321, #btn1234 {
        float: right;
      }

      .comments {
        width: 80%;
        margin-left: 200px;
      }
      .btn321 {
        margin-top: 20px;
      }

    </style>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#post_msg').click(function() {
          $('.buttons').toggle("slow", function() {
          });
        });
      })
    </script>


  </head>

  <body>

    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> -->
    <div class="navbar navbar-dark bg-dark box-shadow">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>CodingDojo Wall</strong>
        <div class="container d-flex justify-content-between">
      </a>
      <h5 style='color: white'>Welcome {{ request.session.user_first_name }}</h5>
      </div>
      <a href="#">Log off</a>
    </div>

    <div id="wrapper">
      <form action="/messages/" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlTextarea1"><h5>Post a message</h5></label>
          <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input type="hidden" name="postId" id="postId" value="34657">
        <input type="submit" class="btn btn-primary" id="btn1234" value="Post a Message">
      </form>



      <div class="the_wall">
        {% for msg in messages %}
          <h5><b>{{ request.session.user_first_name }} - {{ msg.created_at }}</b></h5>
          <form id="btn123" action="/delete/{{ msg.id }}/" method="post">
            {% csrf_token %}
            <p id="post_msg">{{ msg }}</p>
            <div class="buttons" style="display:none;">
              <input type="submit" class="btn btn-danger" value="Delete">
            </div>
          </form>
          <hr>

          <form class="comments" action="/comment/{{ msg.id }}/" method="post">
            {% csrf_token %}
            <p><b>Post a comment</b></p>
                {% for comment in comments %}
                  {% if comment.messages == msg %}
                    {{ comment }}
                    <br>
                  {% endif %}
                {% endfor %}
                <hr>
            <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
            <input type="submit" class="btn btn-success btn321" value="Post a Comment">
          </form>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
