
<!-- <h1>Name: {{cakes.name}}</h1> -->
<div id="wrapper">
  <img src="{{ cakes.url }}" (click)="showCake(cakes)" width="20%" height="175px">


  <form (submit)="commentProcess(cakes)">
    <div class="form-group">
      <!-- {{ cakes.rate | json }} -->
      <select class="form-control" name="cakes.rate" [(ngModel)]="cakes.rate">
        <option value="1">1 Stars</option>
        <option value="2">2 Stars</option>
        <option value="3">3 Stars</option>
        <option value="4">4 Stars</option>
        <option value="5">5 Stars</option>
      </select>
    </div>

    <div class="form-group">
      <textarea class="form-control" name="cakes.comment" [(ngModel)]="cakes.comment"rows="3" placeholder="Type your comment here"></textarea>
    </div>

    <input type="submit" class="btn btn-primary" value="Rate!">
  </form>
</div>
