<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Ninja Gold!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <style>
      * {
      }
      .card1 {
        text-align: center;
        margin-left: 8px;
        margin-top: 8px;
        display: inline-block;
        width: 24%;
      }

      .card2 {
        margin-top: 25px;
      }

      form {
        margin: 20px 0px;
      }

      .form-group {
        margin-top: 25px;
        margin-left: 25px;
        width: 75%;
      }

    </style>

  </head>
  <body>

    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h5l2-3h6l2 3h5a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Ninja Gold!</strong>
        </a>
      </div>
    </div>



    <div class="form-group row">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Your Gold!</label>
      <div class="col-sm-10">
        <p type="Text" class="form-control form-control-lg" id="colFormLabelLg">{{ request.session.total }}</p>
      </div>
    </div>

    <div class="card card1">
      <div class="card-header">
        <h2>Farm</h2>
      </div>
      <div class="card-body">
          <h5>(earns 10-20 golds)</h5>
          <form class="" action="process_money" method="post">
            {% csrf_token %}
            <input type="hidden" name="place" value="farm">
            <input type="submit" class="btn btn-primary" value="Find Gold!">
          </form>
      </div>
    </div>


    <div class="card card1">
      <div class="card-header">
        <h2>Cave</h2>
      </div>
      <div class="card-body">
          <h5>(earns/takes 5-10 golds)</h5>
          <form class="" action="/process_money" method="post">
            {% csrf_token %}
            <input type="hidden" name="place" value="cave">
            <input type="submit" name="cave" class="btn btn-primary" value="Find Gold!">
          </form>
      </div>
    </div>

    <div class="card card1">
      <div class="card-header">
        <h2>House</h2>
      </div>
      <div class="card-body">
          <h5>(earns 2-5 golds)</h5>
          <form class="" action="/process_money" method="post">
            {% csrf_token %}
            <input type="hidden" name="place" value="house">
            <input type="submit" name="house" class="btn btn-primary" value="Find Gold!">
          </form>
      </div>
    </div>


    <div class="card card1">
      <div class="card-header">
        <h2>Casino</h2>
      </div>
      <div class="card-body">
          <h5>(earns/takes 0-50 golds)</h5>
          <form class="" action="/process_money" method="post">
            {% csrf_token %}
            <input type="hidden" name="place" value="casino">
            <input type="submit" name="casino" class="btn btn-primary" value="Find Gold!">
          </form>
      </div>
    </div>

    <div class="card card2">
      <div class="card-header">
        Activites
      </div>
      <div class="card-body">
        {% for sentence in request.session.activity %}
          <p>{{ sentence }}</p>
        {% endfor %}
      </div>
      <form class="" action="/clear" method="post">
        {% csrf_token %}
        <input type="submit" name="clear" class="btn btn-primary" value="Start Over">
      </form>
    </div>





  </body>
</html>
