<a [routerLink]='["/author/show"]'>Home</a>

<p>Edit this Author:</p>

  <!-- {{ editing | json }} -->
  <form (submit)="editAuthor(editing)">
    <div class="form-group">
      <label for="exampleInputName">Name:</label>
      <input type="text" [(ngModel)]="editing.name" name="name"  class="form-control" placeholder="">
    </div>
    <input type="submit" value="Submit">
  </form>
  <button [routerLink]='["/author/show"]'>Cancel</button>
