<h1>New Record</h1>
<!-- {{ newTask | json }} -->
<form (submit)="addThisRecord()">
  <p>Title: <input type="text" name="newTask.title" [(ngModel)]="newTask.title"></p>
  <p>Description: <textarea name="newTask.description" [(ngModel)]="newTask.description"></textarea></p>
  <input type="submit" value="Add New Record">
</form>

<h1>My Records</h1>
<button (click)="getRecords()">Get Records</button>
<div *ngFor="let task of tasks">
  <h3>{{task.title}}</h3>
  <button (click)="editRecord(task)">Edit</button>
  <button (click)="deleteRecord(task._id)">Delete</button>
  <button (click)="show(record)">Show</button>

  <!-- <div class="root"> -->
    <!-- <h1>Welcome to {{ title }}!</h1> -->
    <!-- </div> -->

  <!-- <p>Title: {{task.title}}</p>
  <p>Description: {{task.description}}</p> -->
  <hr>
</div>

<app-record *ngIf="selecting" [record]="selecting"></app-record>

<div *ngIf="editing">
  <h1>Edit Record</h1>
  <form (submit)="submitEdit()">
    <p>Title: <input type="text" name="editing.title" [(ngModel)]="editing.title" value="editing.title"></p>
    <p>Description: <textarea name="editing.description" [(ngModel)]="editing.description" value="editing.description"></textarea></p>
    <input type="submit" value="Edit Record">
  </form>
</div>
