<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Counter</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <style>
      * {
        margin: 0 auto;
        text-align: center;
      }

      h1 {
        margin-top: 120px;
      }

      .btn {
        width: 15%;
        margin-top: 15px;
      }
    </style>
  </head>

  <body>
      <h1>Counter</h1>
      <h4><%= count %> Times</h4>

    <!-- Every time the button is clicked, the count increases by 2 -->
    <form action="/process" method="post"
      <div class="form-group1 row sm-101">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Add 2</button>
        </div>
      </div>
    </form>

    <!-- Every time the button is clicked, the count resets to 1 -->
    <form action="/clear" method="post"
      <div class="form-group1 row sm-101">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Reset</button>
        </div>
      </div>
    </form>


  </body>
</html>
