<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login and Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style media="screen">
      #wrapper {
        margin: 0 auto;
        margin-top: 30px;
        width: 70%;
      }
      form {
        margin-top: 20px;
        width: 75%;
      }
      .buttns {
        float: right;
      }

      .log{
      margin-top: 50px
    }

    </style>
  </head>

  <body>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Welcome {{ request.session.user_first_name }}</strong>
        </a>
        <div class="">
          <a href="#">Add Book and Review</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </div>


    <div id="wrapper">

      <h2>Recent Book Reviews</h2>
      {% for review in reviews %}
        <a href="#"><h4>{{ Book.title}}</h4></a>
        <p>Rating: {{ Review.ratings }} </p>
        <p><a href="#">{{ Review.first_name }}</a> {{ Review.review }}</p>
        <p>Posted on {{ Review.user.created_at }}</p>
      {% endfor %}

    </div>

    <h2>Other Books with Reviews:</h2>
    <div class="">
      {% for books in books %}
        <a href="#">{{ Book.title }}</a>
      {% endfor %}
    </div>



  </body>
</html>
