<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a New Title and Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style media="screen">
      #wrapper {
        margin: 0 auto;
        margin-top: 30px;
        width: 70%;
      }
      form {
        margin-top: 20px;
        width: 75%;
      }
      .buttns {
        float: right;
      }

      .log{
      margin-top: 50px
    }

    </style>
  </head>

  <body>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>User Review</strong>
        </a>
        <div class="">
          <a href="#">Home</a>
          <a href="#">Add Book and Review</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </div>

    <div id="wrapper">
      <div class="user-info">
        <h4>User Alias: {{ User.first_name }}</h4>
        <h5>Name: {{ User.first_name }} {{ User.last_name }}</h5>
        <h5>Email: {{ User.email }}</h5>
        <h5>Total Reviews: {{ Review.user.review}}</h5>

      </div>
      
      <div class="reviews-posted">
        <h5>Post Reviews on the following books:</h5>
        {% for title in titles %}
        {{ Review.title }}
        {% endfor %}

      </div>
    </div>


  </body>
</html>
