* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 50%;
  /* padding: 12px; */
  background-color: silver;
  /* margin: 0px auto; */
  padding: 10px 0px;
}

#wrapper, #header, #main_content, .subcontents {
  margin: 0px auto;
}

#header {
  width: 97.5%;
  height: 150px;
  background-color: green;
}

#inside {
  width: 100%;
}

#navigation {
  margin: 10px;
  height: 300px;
  width: 21%;
  background-color: blue;
  vertical-align: top;
  display: inline-block;
}

#main_content {
  margin-top: 10px;
  padding: 5px;
  /* height: 340px; */
  /* width: 72.5%; */
  background-color: red;
  display: inline-block;
  margin-left: 5px;
}

.subcontents {
  margin: 7px 0px 0px 7px;
  height: 145px;
  /* width: 31%; */
  background-color: yellow;
  display: inline-block;
}

#advertisement {
  margin: 7px 0px 0px 7px;
  height: 120px;
  /* width: 97.7%; */
  background-color: purple;
  display: inline-block;
}



/* This Media Query is based on width of 480px and 576 height on firefox broswer */
@media only screen and (max-width: 480px) {
  #navigation {
    /* visibility: hidden; */
    display: none;
  }

#header {
  width: 96%;
}

.subcontents {
  display: block;
  width: 94%;
}

  #main_content {
    width: 92.5%;
    height: 600px;
  }

  #advertisement {
    width: 94.5%;
  }

}

/* This Media Query is based on width of 1022px and 576 height on firefox broswer */
@media only screen and (max-width: 1023px) and (min-width: 481px) {
  #navigation {
    display: none;

  }
  .subcontents {
    width: 47.5%;
  }

  #main_content {
    width: 96%;
    height: 470px;
  }

  #advertisement {
    width: 97.5%
  }

}

/* This Media Query is based on width of 1024px and 576 height on firefox broswer */
@media only screen and (min-width: 1024px) {

  #navigation {
    width: 20.9%;
  }

  .subcontents {
    width: 30%;
  }

  #main_content {
      width: 70%;
  }

  #advertisement {
    width: 96.2%
  }
}
