<!--

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<style media="screen">
  #wrapper {
    margin-top: 50px;
  }

  form {
    margin-left: 50px;
    width: 35%;

  }

  .form-group {
    margin-top: 25px;
  }
</style>


 -->


<div id="wrapper">
  <form (submit)="submitCake()">
    <h1>Rate my Cake</h1>
    <div class="form-group">
      <!-- {{ newCake | json }} -->
      <h5>Submit a cake to be rated</h5>
      <label for="exampleInputEmail1">Baker Name:</label>
      <input type="text" class="form-control" name="newCake.name" [(ngModel)]="newCake.name" id="exampleInputEmail1">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Image url:</label>
      <input type="text" class="form-control" name="newCake.url" [(ngModel)]="newCake.url" id="exampleInputPassword1">
    </div>

    <input type="submit" class="btn btn-primary" value="Submit">
  </form>


  <app-cake *ngFor="let c of cakes" [cakes]="c" (processEventEmitter)="processComment($event)"></app-cake>
</div>

<!-- <footer *ngIf="boo">> -->
<!-- <h1>Baked by {{ cakes.name }}</h1> -->
  <app-display (cakeEventEmitter)="cakeProcessor($event)"></app-display>
  <!-- <div *ngIf='boo'>

  </div> -->
  <!-- <h6>Average Rating:</h6>
  <h6>{{ cakes.rate }}</h6>
  <h6>{{ cakes.comments }}</h6>
</footer> -->
