* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 970px;
  margin: 0px auto;
  background-color: #245076;
}


body {
    font-family: arial;
}

/* Header of the html */

.header {
  padding: 10px;
}

.python {
  width: 40%;
}

.right-top {
  display: inline-block;
  vertical-align: top;
}
.searchbar {
  box-shadow: 2px 2px #1f2224;
  background-color: #444444;
  padding: 13px 35px;
  border-radius: 10px;
}

.search {
  text-align: center;
  padding: 10px 20px;
  color: #aaaaaa;
  border: 2px solid #9a9a9a;
}

.text-search {
  color: white;
  font-size: 14px;
  text-align: right;
  margin-right: 40px;
}

span {
  color: #d4b200;
}

.right-top  {
  float: right;
}

.submit {
  margin-left: 3px;
  font-size: 11px;
  background-color: #245076;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px #1f2224;
}


/* Navigation bar */
.nav-bar {
  text-align: center;
}

.ul-nav {
  display: inline-block;
  box-shadow: 2.5px 2.5px #1f2224;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.nav-bar > ul > li:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.nav-bar > ul > li:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.nav-bar > ul > li {
  float: left;
  padding: 10px 30px;
  background-color: #427cad;
  font-size: 20px;
  display: inline-block;
}
.navigation{
  color: white;
  text-decoration: none;
}


/* Body content information */
.information {
  color: white;
  display: inline-block;
  width: 76.95%;
  text-align: center;
  padding-bottom: 15px;
}

.quotes {
  font-size: 18px;
  font-style: italic;
}


/* Side menu bar */
.menu-bar {
  margin: 15px 0px 0px 75px;
  vertical-align: top;
}

.menu {
  margin-top: 10px;
  color: white;
  display: inline-block;
  width: 30;
}

.menu-bar > ul > li {
  list-style: none;
}

.menu-bar {
  text-align: center;
  display: inline-block;
}



.line { /* hr tag */
  padding: 5px 0px;
  border: 0;
}

.summary {
  margin: 15px 70px 0px 40px;
}

/* Middle Content */
.mid-content {
  background-color: white;
  padding: 10px;
}

.light_blue {
  color: #73a7d5;
  text-decoration: none;
}

.light-blue {
  color: #73a7d5;
  text-decoration: none;
  display: block;
}

.square-list {
  margin-left: 35px;
  list-style: square;
}

.hr-blue {
  border: 3px solid #73a7d5;
}

.left-content, .right-content {
  width: 40%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin-left: 60px;
}

h3 {
  font-size: 17px;
  padding: 5px 0px;
  font-weight: bold;
}

/* Footer Content at bottom */
.footer {
  padding: 40px 0px 8px 0px;
  background: linear-gradient(#245177, #3274ac);
}

.bot-menu {
  padding: 0px 20px;
}
.footer > ul, .copyrite, .bot-menu {
  color: #87b9e5;
  text-align: center;
  text-decoration: none;
}

.copyrite {
  padding-top: 15px;
  font-size: 10px;
}

.footer > ul > li{
  display: inline-block;
}
