<!DOCTYPE html>
<html lang="en">
    <head>
      <title></title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script> integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      <script type ='text/javascript' src="/socket.io/socket.io.js"></script>
      <script type ='text/javascript'>
        $(document).ready(function(){
          var socket = io.connect();
          $('button').click(function(event) {
            // The default action of the event will not be triggered with preventDefault
            event.preventDefault()
            socket.emit("posting_form", {
              name: $('.name').val(),
              location: $('.location').val(),
              language: $('.language').val(),
              comment: $('.comment').val(),
            });
            socket.emit("random_number", {
              message: "lucky number!"
            });
          });
          socket.on('updated_message', function(data){
            var result = document.getElementById("result")
            result.innerHTML = "You emitted the following information to the server! Name: "
            result.innerHTML += data.name
            result.innerHTML += ". Location: " + data.location + ". Language: " + data.language + ". Comment: " + data.comment
          })
          socket.on('updated_number', function(data){
            var result = document.getElementById("random_number")
            result.innerHTML = "Your lucky number emitted by the server is " + data.number + "."
          })
      });
    </script>

  </head>
  <body>
    <div class="container">
        <div class="alert alert-success">
            <div id='result'></div>
            <div id='random_number'></div>
        </div>
        <form id='user_form row'>
            <div class="form-group">
                <label for='name'>Name: </label>
                <input class='name form-control' name='name'>
            </div>
            <div class="form-group">
                <label for='location'>Location: </label>
                <select class='location form-control' name='location'>
                    <option value='san_jose'>Burbank</option>
                    <option value='dallas'>Dallas</option>
                    <option value='washington'>Washington</option>
                </select>
            </div>
            <div class="form-group">
                <label for='language'>Language: </label>
                <select class='language form-control' name='language'>
                  <option value='Python'>Python</option>
                    <option value='javacript'>Javascript</option>
                    <option value='ruby'>Ruby</option>
                    <option value='c'>C</option>
                </select>
            </div>
            <div class="form-group">
                <label>Comment (optional):</label>
                <textarea class="comment form-control" name="comment"></textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
  </body>
</html>
