 * {
   margin: 0;
   padding: 0;
 }

#wrapper {
  width: 970px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* The header and title */
.globe {
  width: 10%;
  vertical-align: middle;
  position: relative;
  top: 19px;
  display: inline-block;
}
h1 {
  display: inline-block;
  font-size: 50px;
}

h1, h2 {
  font-weight: normal;
  vertical-align:bottom;
}

h2 {
  background: linear-gradient(#2768a0, #5182ac, #2768a0);
  padding: 15px;
  font-size: 35px;
  color: white;

}

.net {
  color: #22659e;
}



/* Content for the left menu */
.internet {
  color: red;
}

.ninja {
  padding-top: 15px;
  width: 40%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.left-menu-content {
  width: 20%;
  padding: 5px;
  display: inline-block;
}

.reinvent {
  background-image: url("img/ad_background.png");
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
  text-align: center;
  padding: 10px 5px;
  padding-bottom: 40px;
}

.learn {
  color: white;
  font-size: 15px;
  background: linear-gradient(#5cccdf, #00c2df);
  padding: 3px 25px;
  border-radius: 5px;
  border: 1px solid #3fcae0;
  box-shadow: 2px 2px black;
}

.career-reinvent {
  font-size: 20px;
}

.left-menu-content, h4 {
    display: inline-block;
  }

h4, .connected {
  padding: 10px 0px;

}
.connected {
  font-size: 12px;
  font-weight: bold;
}

.left-menu-content > input {
  margin-left: 8px;
  margin-bottom: 5px;
  width: 90%;
}

.btn {
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px gray;
  padding: 6px 25px;
  font-weight: bold;
}

#btn-watch {
  background: linear-gradient(#6096c2, #24679f);
}

#btn-resource {
  background: linear-gradient(#eaae57, #f07500);
}

.left-hr {
  margin: 15px 0px 20px 0px;
}

hr {
  color: #b9b9b9;
}



h3, .blue, .dns {
  color: #22659e;
}



/* Below the title and header */
.sub-header {
  width: 100%;
  display: inline-block;
}


/* The remaning content on the body */
.main-content {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  float: right;
}

ul, ol {
  margin-left: 50px;
}

.house {
  width: 3%;
  vertical-align: top;
  display: inline-block;
}

.dns, .house {
  padding-top: 10px;
  /* vertical-align: middle; */
}

.dns {
  vertical-align: middle;
  padding-top: 13px;
}

.dns, .contact {
  display: inline-block;
}

.contact {
  text-align: right;
  float: right;
  padding: 5px 10px 0px 0px;
  width: 30%
}

.contact2, .number {
  font-size: 9px;
}

.phone {
  display: inline-block;
  vertical-align: top;
  width: 5%;
  position: relative;
  left: 465px;
  top: 15px;
}

.number {
  color: #00c0df;
  font-weight: bold;
  font-size: 24px;
}

hr {
margin: 10px 0px;
}

.clients {
  font-weight: bold;
}

span {
  color: #0097ae;
}

.server {
  display: block;
  margin: 0 auto;
  width: 40%;
  padding: 10px 0px;
  font-weight: bold;
}

/* The footer along with the border box */
footer {
  border: 7px solid #0085e0;
  box-shadow: 2px 2px;
  padding: 10px;
  margin-top: 15px;
}

.foot, .foot1, .html {

  display: inline-block;
}

.foot {
  padding-left: 20px;
  width: 75%;
  vertical-align: top;
}
.foot1 {
 padding-top: 5px;
}

footer > img {
  width: 18%;
}
