<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Amadon Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <style>
    #container {
      width: 75%;

    }
    table {
      margin: 15px;
    }

    .custom-select {
      width: 80%;
    }
    input {
      width: 15%;
      margin-left: 15px;
    }
  </style>

  <body>
    <div id="container">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

            {% for item in items %}
            <form action="/process/{{item.id}}/" method="post">
              <tbody>
                <tr>
                  <td name="this_thing" value= "{{ item.item }}">{{ item.item }}</td>
                  <td name="price">${{ item.price }}</td>
                  <td name="amt">
                    {% csrf_token %}
                    <select class="custom-select" name="amounts">
                      <option name="amount" value="0">Quantity</option>
                      <option name="amount" value="1">1</option>
                      <option name="amount" value="2">2</option>
                      <option name="amount" value="3">3</option>
                      <option name="amount" value="4">4</option>
                      <option name="amount" value="5">5</option>
                      <option name="amount" value="6">6</option>
                      <option name="amount" value="7">7</option>
                      <option name="amount" value="8">8</option>
                      <option name="amount" value="9">9</option
                    </select>
                    <input class="btn btn-primary" type="submit" value='Buy'>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </form>
      </table>
    </div>

  </body>
</html>
