<!DOCTYPE html>
<html>
<head>

    <title>Session Words</title>
</head>
<body>
    <div class="container">
        <h2>Session Words</h2>
    </div>
    <div class="halfSize">
        <form action="/create" method = "post">
            {% csrf_token %}
            <h2>Add a new word</h2>
            <div>
                <input type="text" name="word">
            </div>
            <div>
                <label>Choose color</label>
            </div>
            <div>
                <input type="radio" name ="color" value="red">Red
            </div>
            <div>
                <input type="radio" name ="color" value="green">Green
            </div>
            <div>
                <input type="radio" name ="color" value="blue">Blue
            </div>

            <div>
                <input type="checkbox"name ="font" value="1">show in BIG fonts!
            </div>
            <div>
                <input type="submit" value="Add to Session">
            </div>
        </form>
    </div>


    <div class="halfSize">
        <form action="/clear" method="POST">
            {% csrf_token %}
            <div class = "top_left">
                <input type="submit" value="Clear Session">
            </div>
        </form>
        {% for word in request.session.word_array %}
            <p style="color: {{ word.color }}" style="font_size: {{ word.font_size }}">{{ word.value }} -added on  {{ word.time }}</p>
        {% endfor %}
    </div>

</body>
</html>
