<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<style media="screen">
  .products {
    padding: 20px;
    margin: 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
  }
  h2 {
    text-align: center;
  }
  img {
    width: 97%;
    height: 250px;
  }
  .btn {
    width: 30%;
  }
  .btn-danger {
    margin-left: 10px;
  }

</style>

<h2>Products List</h2>
<div *ngFor="let product of allProduct">
  <div class="products">
    <img src="{{product.image}}">
    <h2>{{product.title}}</h2>
    <h2>${{product.price}}</h2>
    <button (click)="editClick(product)" class="btn btn-success">Edit</button>
    <button (click)="deleteProduct(product._id)" class="btn btn-danger">Delete</button>
  </div>
</div>
