<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login or Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style media="screen">
      #wrapper {
      }
      .this-form {
        margin: 0 auto;
        margin-top: 50px;
        margin-left: 50px;
      }
      .register, .login {
        width: 48%;
        vertical-align: top;
        display: inline-block;
      }
      .btn {
        float: right;
      }
      h1 {
        padding-bottom: 30px;
      }
      .alerts {
        width: 75%;
        padding-top: 20px;
        margin: 0 auto;
      }

    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="alerts">
        <% if(messages.registration) { %>
          <% for (var x of messages.registration) { %>
            <div class="alert alert-danger" role="alert">
              <h5><%= x %></h5>
            </div>
          <% } %>
        <% } %>
      </div>

      <div class="register">
        <form action="/process_register" method="post" class="this-form">
          <h1>Register</h1>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFirstl4">First Name</label>
              <input type="text" class="form-control" id="inputEmail4" name="first_name" placeholder="First Name">
            </div>

            <div class="form-group col-md-6">
              <label for="inputPassword4">Last Name</label>
              <input type="text" class="form-control" id="inputPassword4" name="last_name" placeholder="Last Name">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Email">
          </div>

          <div class="form-group"> <!-- Date input -->
            <label class="control-label" for="date">Birthdate</label>
            <input type="date" class="form-control" id="date" name="birthdate"/>
          </div>

          <div class="form-group">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="inputPassword5">Confirm Password</label>
            <input type="password" class="form-control" id="inputPassword5" name="confirm_password" placeholder="Confirm Password">
          </div>

          <input type="submit" class="btn btn-primary" value="Register">
        </form>
      </div><!-- End of register div -->



      <div class="login">
        <form action="/process_login" method="post" class="this-form">
          <h1>Login</h1>
          <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="e_mail" placeholder="Email">
          </div>

          <div class="form-group">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" name="c_password" placeholder="Password">
          </div>

          <input type="submit" class="btn btn-primary" value="Login">
        </form>
      </div><!-- End of login div -->


    </div><!-- End of wrapper div -->

  </body>
</html>
