* {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 950px;
  padding: 12px;
  background-color: silver;
  margin: 0px auto;
}

#header {
  height: 150px;
  margin: 8px;
  background-color: green;
}

#navigation {
  margin: 8px;
  height: 300px;
  width: 200px;
  background-color: blue;
  vertical-align: top;
  display: inline-block;
}

#main_content {
  padding: 8px;
  margin: 6px;
  height: 400px;
  width: 700px;
  vertical-align: top;
  background-color: red;
  display: inline-block;
}

.subcontents {
  margin: 5px;
  height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
}

#advertisement {
  margin: 15px 5px 5px 5px;
  height: 120px;
  width: 660px;

  background-color: purple;
  display: inline-block;
}
