<style media="screen">

  h1 {
    margin: 25px 0px;
    text-align: center;
  }

  .info {
    padding: 30px;
    text-align: left;
  }
  .info, .pic {
    display: inline-block;
  }
  .pic {
    text-align: right;
    vertical-align: top;
    width: 60%;
  }
  img {
    height: 175px;

  }

</style>


  {{ allWeather }}
  <h1>{{ allWeather [0] }}</h1>
<!-- {{ allWeather[weather]}} -->
<div class="info">
  <h5>Humidity: {{ allWeather[1] }} °</h5>
  <h5>Temperature (Average): {{ allWeather[2] }} °</h5>
  <h5>Temperature (High): {{ allWeather[3] }} °</h5>
  <h5>Temperature (Low): {{ allWeather[4] }} °</h5>
  <h5>Status: {{ allWeather[5] }}</h5>
</div>
<div class="pic">
  <img src="https://ksr-ugc.imgix.net/assets/020/308/125/b2e7ac00647fb5472bdd963e7ca1eb0b_original.jpg?w=680&fit=max&v=1519210904&auto=format&q=92&s=29f738dda912487fc534c5628fa9a661">
</div>
