<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>EJS cats</h1>
    <a href="/cuddles"><img src="/images/cat0.jpg" alt=""></a>
    <a href="/wrinkles"><img src="/images/cat1.jpg" alt=""></a>
    <a href="/kathy"><img src="/images/cat2.jpg" alt=""></a>
  </body>
</html>
