<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Details Page</title>
  </head>
  <body>
    <% for (var x in cat) { %>
      <h1>Details Page for <%= cat[x].name %></h1>
        <img src="<%= cat[x].photo %>"  alt="">
        <h2>Favorite Food: <%= cat[x].favorite_food %></h2>
        <h3>Age: <%= cat[x].age %></h3>
        <h3>Sleeping Spot:</h3>
        <h4><%= cat[x].sleeping_spots %></h4>
        <!-- <hr> -->
    <% } %>
  </body>
</html>
