<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style media="screen">
      #wrapper {
        margin: 0 auto;
        margin-top: 35px;
        width: 70%;
      }

      h4 {
        margin-bottom: 15px;
      }
      .a_back {
        margin-right: 20px;
      }
      .btn1 {
        float: right;
      }

    </style>
  </head>

  <body>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Add a Job</strong>
        </a>

        <form class="" action="/logout" method="post">
          {% csrf_token %}
          <a href="/dashboard" class="a_back">Back</a>
          <input type="submit" class="btn btn-primary" value="Logout">
        </form>
      </div>
    </div>
    <div id="wrapper">

      <div class="add_job">
        <form class="" action="/process" method="post">
          {% csrf_token %}
          {% if messages %}
            {% for message in messages %}
              <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
          {% endif %}
          <h4>Add a Quote!</h4>

          <div class="form-group row">
            <label for="inputtitle" class="col-sm-2 col-form-label"><h6>Title</h6></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputdesc" class="col-sm-2 col-form-label"><h6>description</h6></label>
            <div class="col-sm-10">
              <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputlocation" class="col-sm-2 col-form-label"><h6>Location</h6></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="location">
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn1" value="Submit">
        </form>

      </div>

    </div> <!-- End of wrapper div -->
  </body>
</html>
s
