<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login and Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <style media="screen">
      #wrapper {
        margin: 0 auto;
        margin-top: 30px;
        width: 95%;
      }

      .right-jobs, .left-jobs {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        border: 1px solid #212529;
      }

      .right-jobs {
        margin-left: 150px;
      }

    </style>
  </head>

  <body>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Welcome {{ request.session.user_first_name }}</strong>
        </a>
        <a href="/logout">Logout</a>
      </div>
      <a href="/addjob"><h4>Add A Job </h4></a>
    </div>

    <div id="wrapper">

    <div class="left-jobs">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Job</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody>
          {% for job in jobs %}
            {% if job.the_user.id != request.session.user_id %}
            <tr>
              <td>{{ job.title }}</td>
              <td>{{ job.description }}</td>
              <!-- <td>{{ job.the_user.id }}</td> -->
              <td><a href="/view/{{ job.id }}">View</a> <a href="/add/{{ job.id }}">Add</a></td>
            </tr>
            {% else %}
            <tr>
              <td>{{ job.title }}</td>
              <td>{{ job.description }}</td>
              <!-- <td>{{ job.the_user.id  }}</td> -->
              <td><a href="/view/{{ job.id }}">View</a> <a href="/add/{{ job.id }}">Add</a> <a href="/edit/{{ job.id }}">Edit</a> <a href="/cancel/{{ job.id }}">Cancel</a></td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div> <!-- End of left-jobs div -->

    <div class="right-jobs">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">My Jobs</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          {% for job in m_job %}
          <tr>
            <td>{{ job.title }}</td>
            <td><a href="/view/{{ job.id }}">View</a> <a href="/done/{{ job.id }}">Done</a></td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div> <!-- End of right-jobs div -->


  </div> <!-- End of wrapper div -->

  </body>
</html>
