<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>

  <style>
    .a_back {
      margin-right: 20px;
    }
    .contain {
      margin: 30px;
      width: 45%;
    }
  </style>

  <body>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Edit Your Job Posting</strong>
        </a>

        <form class="" action="/logout" method="post">
          {% csrf_token %}
          <a href="/dashboard" class="a_back">Back</a>
          <input type="submit" class="btn btn-primary" value="Logout">
        </form>
      </div>
    </div>

    {% if messages %}
      {% for message in messages %}
        <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
    {% endif %}

    <div class="contain">
      <form action="/update/{{ job.id }}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputAddress">Title:</label>
          <input type="text" class="form-control" name="title" id="inputAddress" placeholder="{{ job.title }}">
        </div>

        <div class="form-group">
          <label for="inputAddress">Description:</label>
          <textarea name="description" class="form-control" rows="8" cols="80"  placeholder="{{ job.description }}"></textarea>
        </div>

        <div class="form-group">
          <label for="inputAddress2">Location</label>
          <input type="text" class="form-control" name="location" id="inputAddress2" placeholder="{{ job.location }}">
        </div>

        <input type="submit" class="btn btn-primary" value="Update">
      </form>
    </div> <!-- End of contain div -->

  </body>
</html>
