<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style>
      #job-desc {
        border: 1px solid #ced4da;
        width: 40%;
        margin: 30px;
        padding: 30px;
      }

      .a_back {
        margin-right: 20px;
      }
      .add {
        margin-left: 30px;
      }
    </style>

  </head>

  <body>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Job: {{ job.title }}</strong>
        </a>

        <form class="" action="/logout" method="post">
          {% csrf_token %}
          <a href="/dashboard" class="a_back">Back</a>
          <input type="submit" class="btn btn-primary" value="Logout">
        </form>
      </div>
    </div>

    <div id="job-desc">
        <p>Description: {{ job.description }}</p>
        <p>Location: {{ job.location }}</p>
        <p>Posted by: {{ job.the_user.first_name }} {{ job.the_user.last_name }}</p>
        <p>Posted on: {{ job.created_at }}</p>
    </div>
    <a href="/add/{{ job.id }}" class="add">Add To My Jobs</a>

  </body>
</html>
