<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Checkerboard</title>

    <style media="screen">
      .red {
        background-color: red;

      }
      .black{
        background-color: black;
      }

      .red, .black {
        width: 50px;
        height: 50px;
        display: inline-block;
      }

      .x {
        border: 1px solid black;
      }
    </style>

  </head>
  <body>
      {% for x_axis in range(0, x): %}
      <div>
        {% for y_axis in range(0, y): %}
          {% if (y_axis + x_axis) % 2 == 1 %}
            <div class="red"></div>
            {% else %}
            <div class="black"></div>
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}

  </body>
</html>
