
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<style media="screen">
  .line {
    height: 50px;
    border: 1px solid #3a3a35;
  }

  h1 {
    margin: 50px 0px 70px 0px;
    text-align: center;
  }

  router-outlet {
  }

  li {
    text-align: center;
    width: 15%;
  }
  ul {
    padding-bottom: 100px;
  }

  .info {
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
  }


</style>

<h1>Dojo Weather Forecast</h1>

    <ul class="nav justify-content-center">
      <li class='nav-item'><a class="nav-link" [routerLink]="['/seattle']">Seattle WA</a></li><div class="line"></div>
      <li class='nav-item'><a class="nav-link" [routerLink]="['/sanjose']">San Jose CA</a></li><div class="line"></div>
      <li class='nav-item'><a class="nav-link" [routerLink]="['/burbank']">Burbank CA</a></li><div class="line"></div>
      <li class='nav-item'><a class="nav-link" [routerLink]="['/dallas']">Dallas TX</a></li><div class="line"></div>
      <li class='nav-item'><a class="nav-link" [routerLink]="['/dc']">Washington DC</a></li><div class="line"></div>
      <li class='nav-item'><a class="nav-link" [routerLink]="['/chicago']">Chicago IL</a></li>
    </ul>

<div class="info">
  <router-outlet></router-outlet>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
