<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dojo Fruit Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style>
      #wrapper {
        padding-top: 50px;
        width: 70%;
        margin: 0 auto;
      }
      .info {
          padding: 0px 10px;
      }
      .form-control, label {
        display: inline-block;
        width: 150%;
      }
      #butt {
        text-align: right;
      }
      table {
        border: 1px solid #2a2529;
      }
    </style>


  </head>

  <body>

    <div id="wrapper">
      <h3>Thank you for your order!</h3>

      <p>We ordered {{session['total']}} items for you and charged your student account on {{ now }}</p>
      <h4>You've Ordered</h4>
      <form class="" action="/home" method="post">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Fruit Name</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row" name="name1">Strawberry</th>
              <td>{{ session['quant1'] }}</td>
            </tr>

            <tr>
              <th scope="row" name="name2">Raspberry</th>
              <td>{{ session['quant2'] }}</td>
            </tr>

            <tr>
              <th scope="row" name="name3">Apple</th>
              <td>{{ session['quant3'] }}</td>
            </tr>
          </tbody>
        </table>

        <div class="info">
          <h3><u>Your Information</u></h3>
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Name</label>
            <p>{{ session['first'] }}</p>
          </div>

          <div class="col-md-4 mb-3">
            <label for="validationDefault02">Your Student ID</label>
            <p>{{ session['student'] }}</p>
          </div>
        </div>

        <div id="butt">
          <button class="btn btn-primary" type="submit">Go Back</button>
        </div>
      </form>
    </div> <!-- End of Wrapper -->

  </body>
</html>
