<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dojo Fruit Store!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <style media="screen">
      img {
        width: 50%;
                display: inline-block;
      }

      .boxes {
        width: 30%;
        display: inline-block;
      }
    </style>
  </head>
  <body>

      <form class="boxes" action="/home" method="post">

      <div class="pics">
        <img src="{{ url_for('static', filename = 'Strawberry.jpg')}}"  alt="Strawberry">
        <h3>Strawberry</h3>
      </div>

      <div class="pics">
        <img src="{{ url_for('static', filename = 'Rasberry.jpg')}}"  alt="Raspberry">
        <h3>Raspberry</h3>
      </div>

      <div class="pics">
        <img src="{{ url_for('static', filename = 'Apple.jpg')}}"  width="20px" alt="Apple">
        <h3>Apple</h3>
        </div>
      <div id="butt">
        <button class="btn btn-primary" type="submit">Go Back</button>
      </div>
    </form>
  </body>
</html>
