<a [routerLink]='["/author/add"]'>Add an Author</a>

<p>We have quotes by:</p>

<table>
  <tr>
    <th>Author</th>
    <th>Actions Available</th>
  </tr>

  <tr *ngFor="let author of authors">
    <td>{{ author.name }}</td>
    <!-- <td>{{ author._id }}</td> -->
    <td><button (click)="editClick(author)">Edit</button><button (click)='deleteAuthor(author._id)'>Delete</button></td>
  </tr>
</table>
