<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Results</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <style media="screen">
      * {
        margin: 0 auto;
        padding-top: 20px;
      }
      #container {
        width:60%;
        padding: 70px;
        box-shadow:8px 8px #b7cde5;
        border: 3px solid #b7cde5;
        border-radius: 15px;
      }
      h2 {
        color: #495057;
      }

      span {
        padding-left: 15px
      }

      .btn {
        padding: 8px 35px;
      }
      .form-group1{
        text-align: right;
      }

    </style>

  </head>
  <body>
    <div id="container">
      <h2><u>Submitted Info</u></h2>
      <p>Name: <span>{{request.session['first']}}</span></p>
      <p>Dojo Location: <span>{{request.session['location']}}</span></p>
      <p>Favorite Language: <span>{{request.session['language']}}</span></p>
      <p>Comment: <span>{{request.session['comment']}}</span></p>

      <!-- Redirect this button to '/' if the user tried to click it -->
      <form action="/danger" method="post">
        <div class="form-group1 row sm-101">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Go Back</button>
          </div>
        </div>
      </form>

    </div>
  </body>
</html>
