* {
  margin: 0px;
  padding: 0px;
}
/* Give the wrapper 970px */
#wrapper {
  width: 970px;
  padding: 20px;
  margin: 0px auto;
}

body {
  background-color: #1b335d;
}

.mid, .menu {
  display: inline-block;
}

/* Combining all similar attributes to the elements */
h1, .summary, .menu, .footer {
  color: #c2d6ec;
  font-family: "Times New Roman", Times, serif;
  border-radius: 20px;
}

.summary, .menu, .footer {
  font-size: 12.5px;
}

h1, .footer {
  padding: 15px;
}

h1 {
  background-color: #cf3036;
  border-radius: 20px;
}

/* Navigation Menu on the left side */
.home {
  margin-left: 10px;
}

.menu {
  border-radius: 20px;
  background-color: #2a7d8c;
  padding: 10px;
  width: 18%;
  margin: 15px 0px;
  vertical-align: top;
}

/* The information pertaining to JavaScript */
.summary {
  padding: 20px;
  float: right;
  margin: 15px 0px;
  background-color: #0e1822;
  width: 73%
}

span {
  color: #737bd7;
}

a {
  color: #61d6e4;
}

/* The ul, il elements for the menu */
.menu-list {
  color: #c2d6ec;
  margin-left: 22px;
 }

h2 {
  padding-bottom: 5px;
}

/* The ul, il elements for the JavaScript body */
.js-list {
  color: #c2d6ec;
  margin-left: 8px;
  padding: 3px 0px;
}

.footer {
  background-color: #5d6673;
}
