<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Star Wars API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script>
        $(document).ready(function(){
            $('#peopleBtn').click(function(){
                // let's make the request to our OWN server!
                $.get('/people', function(data){
                    // log the data to be sure we have it before we dive into manipulating the DOM
                    console.log("got the data", data.count);
                    console.log(data);
                    console.log(data.results[0]);
                }, 'json');
            });
        });
    </script>
  </head>
  <body>
    <button id="peopleBtn">People</button>
    <div class="learn">

    </div>
  </body>
</html>
