<a [routerLink]='["/author/show"]'>Home</a>

<p>Add a new Author:</p>

<div *ngIf="error"> {{error.errors['name'].message }}</div>

<!-- {{ addNew.name | json }} -->
<form (submit)="addAuthor()">
  <div class="form-group">
  <label for="exampleInputName">Name:</label>
  <input type="text" name="name" [(ngModel)]="addNew.name" class="form-control">
</div>
<input type="submit" value="Submit">
</form>
<button [routerLink]='["/author/show"]'>Cancel</button>
