<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>

    <style media="screen">
      #wrapper {
      }
      .table {
        margin: 0 auto;
        border: 1px solid #dee2e6;
        width: 75%;
        margin-top: 40px;
      }
      .new {
        padding-top: 20px;
        float: right;
        margin: 0 auto;
        width: 19.8%
      }
      h1   {
        margin-top: 20px;
        text-align: center;
      }

    </style>

  </head>

  <body>
    <div id="wrapper">
      <h1 >Animal Care</h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Animal</th>
            <th scope="col">Age</th>
            <th scope="col">Health</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody>
          <% for (an in animal) { %>
            <tr>
              <td><%= animal[an].animal %></td>
              <td><%= animal[an].age %></td>
              <td><%= animal[an].health %></td>
              <td><%= animal[an].description %></td>
              <td><a href="edit/<%= animal[an]._id %>">edit</a> <a href="delete/<%= animal[an]._id %>">delete</a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <a href="/new" class="new"><button type="submit" class="btn btn-primary">Add New</button></a>
    </div>
  </body>
</html>
