


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>

    <style media="screen">
      #wrapper {
        margin-top: 50px;
        /* text-align: center; */
      }
      form {
        margin: 0 auto;
        width: 50%;
        border: 2px solid #ced4da;
        padding: 35px 30px;
        border-radius: 15px;
      }
      h2 {
        text-align: center;
        padding-bottom: 25px;
      }
    </style>

  </head>

  <body>
    <div id="wrapper">

      <!-- based on the structure of your messages, determine how to display them -->
      <% if(messages.registration) { %>
           <% for (var x of messages.registration) { %>
            <h3><%= x %></h3>
           <% } %>
       <% } %>

      <form action="/process_animal" method="post">
        <h2>Register your Animal</h2>

        <div class="form-group">
          <label for="animal">Animal</label>
          <input type="text" class="form-control" name="animal" id="exampleInputName1">
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Health</label>
          <select class="form-control" name="health" id="exampleFormControlSelect1">
            <option value="Excellent">Excellent</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
            <option value="Poor">Poor</option>
            <option value="Dying">Dying</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Age</label>
          <select class="form-control" name="age" id="exampleFormControlSelect1">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit">

      </form>
    </div> <!-- End of wrapper -->

  </body>

</html>
