.navbtn {
  width: 20em;
  height: 5em;
}

@media only screen and (max-width: 480px) {
  .navbtn {
    background-color: yellow;
  }
}

@media only screen and (min-width: 481px) {
  .navbtn {
    background-color: blue;
  }
}

@media only screen and (min-width: 1024px) {
  .navbtn {
    background-color: red;
  }
}
