<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>

    <style media="screen">
      #wrapper {
        margin-top: 50px;
        /* text-align: center; */
      }
      .info {
        margin: 0 auto;
        width: 53%;
        border: 2px solid #ced4da;
        padding: 35px 30px;
        border-radius: 15px;
      }
      h1 {
        margin-bottom: 30px;
      }
    </style>

  </head>

  <body>
    <div id="wrapper">

      <div class="info">
        <h1>Here are some Awesome Quotes!</h1>
        <% for (quote in quotes) { %>
          <p style="color: gray"><b>"<%= quotes[quote].quote %>"</b></p>
          <p ><b>"<%= quotes[quote].name %> at <%= quotes[quote].createdAt %>"</b></p>
          <% } %>
        </div>

    </div><!-- End of wrapper div -->


  </body>
</html>
