<style media="screen">
  h1 {
  text-align: center;
  }
  ul {
    margin-top: 50px;
  }

</style>

<h1>PPM - Project Product Management</h1>

<div>
  <ul class="nav justify-content-center nav-pills">
    <li class="nav-link"><a [routerLink]="['/']">Home</a></li>
    <li class="nav-link"><a [routerLink]="['/products']">Product List</a></li>
    <li class="nav-link"><a [routerLink]="['/products/new']">Product Creation</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
