body {
  font-family: arial;
}

.anges {
  display: none;
  width: 300px;
  height: 200px;
}

#showing, #sliding-down {
  display: none;
}

.fadeouts {
  display: inline-block;
  width: 350px;
  height: 250px;
}

.fadings {
  display: none;
}
