<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style media="screen">
      * {
      }
      h1 {
        margin: 25px 50px;
      }
      .msg {
        margin: 0 auto;
        width: 75%;
      }
      .name {
        width: 60%;
      }

      .btn {
        float: right;
      }
      .comm {
        width: 70%;
        margin: 50px 0px 60px 50px;
      }
      .message {
        margin: 50px;

      }
      .comments {
        margin: 40px  0px;
        color: gray;
      }

      .messages-comments {
        margin-top: 50px;
      }

      .gray {
        color: gray;
      }

    </style>
  </head>

  <body>
    <div id="wrapper" class="msg">
      <h1>The Dojo Message Board</h1>


      <form action="/process_message"  method="post">
        <% if(messages.registration) { %>
          <% for (var x of messages.registration) { %>
            <div class="alert alert-danger" role="alert">
              <h5><%= x %></h5>
            </div>
          <% } %>
        <% } %>

        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="name" name="name" class="form-control name">
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control"  name="message" rows="3"></textarea>
        </div>

        <input type="submit" class="btn btn-primary"value="Post a Message">
      </form>

      <div class="message">
        <div class="messages-comments">
          <% for (var i = 0; i < message.length; i++) { %>
            <h4>Name: <%= message[i].name %></h4>
            <h4> Message: <%= message[i].message %> </h4>

          <% if (message[i].comments) { %>
            <form action="/process_comment/<%= message[i]._id %>" class="comm" method="post">
              <div class="comments">
                <% for (var j = 0; j < message[i].comments.length; j++) { %>
                  <h5>Name: <%= message[i].comments[j].name.toUpperCase() %></h5>
                  <h5>Comment: <%= message[i].comments[j].comment %></h5>
              </div>
              <% } %>
              <div class="form-group">
                <label for="exampleFormControlInput1" class="gray">Name</label>
                <input type="name" name="name" class="form-control name">
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="gray">Comment</label>
                <textarea class="form-control"  name="comment" rows="3"></textarea>
              </div>

              <input type="submit" class="btn btn-success"value="Post a Comment">
            </form>
          <% } %>
        <% } %>
      </div><!-- End of messages-comments div -->
      </div><!-- End of message div -->
    </div><!-- End of wrapper div -->

  </body>
</html>
